/* ==== COMMON STYLES ==== */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #404bbf;
}

/* ==== /COMMON STYLES ==== */

/* ==== HEADER STYLES ==== */

.page-h-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-h-logo-accent {
  color: #2e2f42;
}

.page-h-logo:hover,
.page-h-logo:focus {
  color: inherit;
}

.menu-link {
  font-weight: 500;
  color: #2e2f42;
}

.page-contacts {
  font-style: normal;
}

/* ==== /HEADER STYLES ==== */

/* ==== HERO STYLES ==== */
.section-hero {
  background: #2e2f42;
  color: #ffffff;
}

.hero-header {
  text-align: center;
}

.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* ==== /HERO STYLES ==== */

/* ==== STUDIO STYLES ==== */

/* ==== /STUDIO STYLES ==== */

/* ==== TEAM STYLES ==== */

.section-team {
  background-color: #f4f4fd;
}

.team-header {
    text-align: center;
}

.team-item {
    background-color: #ffffff;
}

/* ==== /TEAM STYLES ==== */

/* ==== PORTFOLIO STYLES ==== */

/* ==== /PORTFOLIO STYLES ==== */

/* ==== FOOTER STYLES ==== */

.footer {
  background: #2e2f42;
  color: #f4f4fd;
}

.page-f-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  
  .page-f-logo-accent {
    color: #f4f4fd;
  }
  
  .page-f-logo:hover,
  .page-f-logo:focus {
    color: inherit;
  }

/* ==== /FOOTER STYLES ==== */
